{% extends "base.html" %}
{% load allauth socialaccount %}
{% providers_media_js %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}

{% block content %}
<div class="account-profile">
    <h2>Profile</h2>
    <p>Welcome, {{ user.username }}!</p>

    <h3>Connected Accounts</h3>


    <h3>Connect New Account</h3>
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}

    <h3>Invitations</h3>

    <ul>
        {% for invitation in user.invitations_received.all %}
            <li>
                {{ invitation.invited_by }} invited you to join {{ invitation.organization }}
                <a href="{% url 'organizations:accept_invite' token=invitation.invite_key %}">Accept</a>
                <a href="{% url 'organizations:decline_invite' token=invitation.invite_key %}">Decline</a>
            </li>
        {% empty %}
            <div class="alert alert-info">You have no pending invitations.</div>
        {% endfor %}
    </ul>

</div>
{% endblock %}
