venv/
__pycache__/
data/
logs/

env
env.backup
.env
config.mk
*.dump
*.db

src/staticfiles/*
src/media/
.idea/**


# sphinx build
docs/_build/

*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
