CACHE_URL=db://mycachetable
DATABASE_URL=postgres://postgres:pass123@postgres/django_reference
DEBUG=True
DEV_ENV=development
SECRET_KEY=thisisasamplekeyandshouldbechangedforyourproductionenvironment
SENTRY_DSN=
EMAIL_URL=smtp://localhost:1025
BASE_URL=http://localhost:8000

AWS_ACCESS_KEY_ID=remote-identity
AWS_SECRET_ACCESS_KEY=remote-credential
AWS_STORAGE_BUCKET_NAME=testbucket
AWS_S3_REGION_NAME=local
AWS_S3_ENDPOINT_URL=http://s3proxy:80
AWS_S3_USE_SSL=false
