CACHE_URL=db://mycachetable
DATABASE_URL=postgres://postgres@127.0.0.1/django_reference
DEBUG=True
DEV_ENV=development
SECRET_KEY=thisisasamplekeyandshouldbechangedforyourproductionenvironment
SENTRY_DSN=
EMAIL_URL=smtp://localhost:1025
