asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
dj-database-url==2.2.0
dj-email-url==1.0.6
Django==5.1
django-allauth
django-cache-url==3.4.5
django-solo==2.3.0
gunicorn==23.0.0
idna==3.7
packaging==24.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
sentry-sdk==2.12.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.7.0
