asgiref==3.3.4
certifi==2019.11.28
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2.2
django-cache-url==3.1.1
django-solo==1.1.5
gunicorn==20.1.0
psycopg2-binary==2.8.6
python-dotenv==0.17.0
pytz==2019.3
sentry-sdk==1.0.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.2.0
