asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
django-environ==0.11.2
Django==5.1
django-allauth==65.0.2
django-bootstrap5
django-solo==2.3.0
gunicorn==23.0.0
idna==3.8
packaging==24.1
psycopg2-binary==2.9.9
pytz==2024.2
requests==2.32.3
sentry-sdk==2.14.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.7.0
