{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %}
    <div class="flex-grow flex">
        <aside class="w-full sm:w-64 md:w-56 lg:w-48 bg-gray-800 dark:bg-gray-900 text-white">
            <ul class="p-6 flex flex-col space-y-2">
                {% url 'account_email' as email_url_ %}
                {% if email_url_ %}
                    <li>
                        <a class="{% block nav_class_email %}block px-4 py-2 rounded hover:bg-gray-700{% endblock %}"
                           href="{{ email_url_ }}">Change Email</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url_ %}
                {% if change_password_url_ %}
                    <li>
                        <a class="{% block nav_class_password %}block px-4 py-2 rounded hover:bg-gray-700{% endblock %}"
                           href="{{ change_password_url_ }}">Change Password</a>
                    </li>
                {% endif %}
                {% url 'socialaccount_connections' as connections_url_ %}
                {% if connections_url_ %}
                    <li>
                        <a class="{% block nav_class_socialaccount %}block px-4 py-2 rounded hover:bg-gray-700{% endblock %}"
                           href="{{ connections_url_ }}">Third-Party Accounts</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_index_url_ %}
                {% if mfa_index_url_ %}
                    <li>
                        <a class="{% block nav_class_mfa %}block px-4 py-2 rounded hover:bg-gray-700{% endblock %}"
                           href="{{ mfa_index_url_ }}">Two-Factor Authentication</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url_ %}
                {% if usersessions_list_url_ %}
                    <li>
                        <a class="{% block nav_class_usersessions %}block px-4 py-2 rounded hover:bg-gray-700{% endblock %}"
                           href="{{ usersessions_list_url_ }}">Sessions</a>
                    </li>
                {% endif %}
            </ul>
        </aside>
        <main class="flex-1">
            <div id="content" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                {% if messages %}
                    <div class="pt-8">
                        {% for message in messages %}
                            {% element alert level=message.tags %}
                                {% slot message %}
                                    {{ message }}
                                {% endslot %}
                            {% endelement %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
