{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Invite someone to organization</h1>
            {#  show form errors #}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Oops! We have a problem:</strong>
                     {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                    {% endfor %}

                </div>
            {% endif %}
            {#  show form #}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Invite</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
