{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Invite someone to organization</h1>
            {#  show form errors #}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Oops! We have a problem:</strong>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {#  show form #}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Invite</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
