{% load static solo_tags %}{% get_solo 'myapp.SiteConfiguration' as site_config %}<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}">

    <script src="{% static 'site.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/htmx.js' %}"></script>

    {{ site_config.js_head|safe }}
    {% block stylesheets %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>

<body>
    {% include "_header.html" %}
    {% include "_alerts.html" %}
    <main class="container">
    {% block content %}{% endblock %}
    </main>
    {% include "_footer.html" %}
    {{ site_config.js_body|safe }}

    {% if request.user.is_staff and site_config.include_staff_in_analytics %}
    {{ site_config.js_analytics|safe }}
    {% endif %}

    {% if not request.user.is_staff %}
    {{ site_config.js_analytics|safe }}
    {% endif %}

</body>

</html>
