<!doctype html>
<html>

<head>

{#    UNCOMMENT THIS IF USING GOOGLE ANALYTICS #}
{#    <script>#}
{#    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;#}
{#    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')#}
{#    </script>#}
{#    <script src="https://www.google-analytics.com/analytics.js" async></script>#}

    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylehseets %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>