{% extends 'base.html' %}

{% block content %}
    <div class="px-4 py-16 my-12 text-center">
{#        <img class="block mx-auto mb-8" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
        <h1 class="text-5xl font-bold text-gray-900 dark:text-white mb-6">Django Reference Implementation</h1>
        <div class="max-w-2xl mx-auto">
            <p class="text-xl text-gray-600 dark:text-gray-300 mb-8">
                is a simple(ish) solution to help developers ship a production-ready Django application.
                It covers common use cases and provide examples in a working project, ready to be customized and deployed.
            </p>
            <div class="flex flex-col sm:flex-row gap-4 justify-center">
                <button type="button" class="px-6 py-3 text-lg font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">Primary button</button>
                <button type="button" class="px-6 py-3 text-lg font-medium text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700">Secondary</button>
            </div>
        </div>
    </div>
{% endblock %}
